@import url('//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800');
/* General */


*,*::before, *::after{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body,html{
    font-family: 'Montserrat';
    margin: 0;

    a{
        text-decoration: none;
    }
}
/* Top */

header{
    padding: 2em;

    .menu-btn{

        float: right;
        cursor: pointer;
    }
}
/* Home-page */


#page-wrapper{
    background-image: url("images/hero.svg");
    background-repeat: no-repeat;
    background-position: 550px -350px ;
    background-size: 1150px 1150px;

}
/* Header */

#hero-content{
    padding-left: 12em;
    padding-bottom: 10em;


    h1{
        font-size: 72px;
        font-weight: bold;
        color: #000;
        text-align: left;
        margin-bottom: 10px;


    }
    p.subtitle{
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        color: rgba(95,60,235,1);
        text-align: left;

    }
    p.subtitle1{
        letter-spacing: 2px;
        font-weight: normal;
        font-size: 14px;
        color: rgba(74,69,69,1);
        text-align: left;
        padding-bottom: 3em;
    }

    .pink-button {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color: rgb(0, 0, 0);
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 15px;
        text-decoration: none;
        padding: 10px 55px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 20px;
        background: none;

        &:hover{

            top: 0px;
            left:16px;
              }
        &:hover:after   {
            top: 0px;
            left: -16px;
           }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 5px;
            right: 8px;
            background-color: #FFAFF3;
            border-radius: 20px;
            z-index: -1;
            transition: transform 0.15s ease-out 0s;
        }
    
        &::after {
            content: "";
            left: 0px;
            top: 0px;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 1;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            border-radius: 20px;
            border-image: initial;
            transition: transform 0.15s ease-out 0s;
        }
    }
    .goto-next {
        border: 0;
        bottom: 0;
        display: block;
        height: 5em;
        left: 50%;
        margin: 0 0 0 -5em;
        overflow: hidden;
        position: absolute;
        text-indent: 10em;
        white-space: nowrap;
        width: 10em;
        z-index: 1;

        &:before {
			background-image: url("images/arrow.svg");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			height: 1.5em;
			left: 50%;
			margin: -0.75em 0 0 -1em;
			position: absolute;
			top: 50%;
			width: 2em;
			z-index: 1;
		}
    }
    

}
/* Navigation */

nav{
    position: absolute;
    background-color: #5F3CEB;
    padding: 2em;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    //later//
    transform: scaleX(0);
    transform-origin: right;


    .close-btn{
        float:right;
        cursor: pointer;
        //later//
        opacity: 0;
    }
    ul{
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding:0;
        display: grid;
        grid-template-columns: repeat(5,20%);
        width: 80%;

        a{
            color: white;
            font-weight: bold;
            font-size: 2.5em;
        }

        span{
            color: #B1A2F0;
            display: block;
            margin-top: 20px;
            font-size: 0.75em;
        }
        //later//
        li {
            opacity: 0;
        }
    }
    .bottom-menu{

        padding-top: 15em;
        align-items: center;

        p{
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 1em;
            color: #fff;
            text-align: center;
            text-transform: uppercase;

        }

        .fa{
            color: white;
            font-size: 2em;
            margin: 0.5em;

        }
        ul{

            margin: 0 auto 0 auto;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: 20%;
            list-style-type: none;

        }

    }

}
.show-menu{
    display: block;
    z-index: 2;
    animation: slide-menu 1s ease-in forwards;

    .close-btn{
        animation: show-x 1s 1s forwards;
    }
    li:nth-of-type(1){
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
    li:nth-of-type(5){
        animation: menu-item-anim .6s forwards 1.8s ease-in-out;
    }
}
.hide-menu{
    display: block;
    z-index: 2;
    animation: slide-menu-back .3s ease-in backwards;

}


@keyframes slide-menu{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes slide-menu-back{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}
@keyframes show-x{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes menu-item-anim {
    from{
        transform: translateY(60%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }

}

/* Portfolio*/
#portfolio{
    margin-top: 4em;
    //@extend: 60%;
    display: grid;

    grid-gap: 4em;
   
   justify-content: center;
    align-items: center;
    .icon{
        width: 70px;

    }
    .image{
        width: 400px;
    }

    h1{
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        font-size: 52px;
    }
    p{
        font-weight: 500;
        font-size: 18px;
        color: rgba(74,69,69,1);
        margin: 2px;
        
       
    }
    .section-name{
        writing-mode: vertical-rl;
        grid-column: 3 / span 1;
        p{
            text-transform: uppercase;
            font-weight: 800;
            font-size: 10px;
            letter-spacing: 2px;
        }

    }


.design-container{
    grid-column: 2 / span 1;
    width: 100%;
    border-radius: 20px;
    background:  #F5F2FD;
    display: flex;
   
    .portfolio-image{
        padding: 2em 4em 0em 2em;
    }
    .design-content{
        padding: 2em 2em 2em 4em;
       
        h1{
            color: rgba(95,60,235,1);
            margin-bottom: 10px;
        }
        .purple-button {
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            color: rgb(0, 0, 0);
            position: relative;
            z-index: 1;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 30px;
            text-decoration: none;
            padding: 15px 55px;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            border-radius: 20px;
            background: none;
    
            &:hover{
    
                top: 0px;
                left:16px;
                  }
            &:hover:after   {
                top: 0px;
                left: -16px;
               }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 5px;
                right: 8px;
                background-color: rgba(95,60,235,1);
                border-radius: 20px;
                z-index: -1;
                transition: transform 0.15s ease-out 0s;
            }
        
            &::after {
                content: "";
                left: 0px;
                top: 0px;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 1;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                border-radius: 20px;
                border-image: initial;
                transition: transform 0.15s ease-out 0s;
            }
        }
    } 
}  
    .mobile-container{
        grid-column: 1 / span 2;
        width: 100%;
        border-radius: 20px;
        background:  #F7FDF2;
        display: flex;
       
        .portfolio-image{
            padding: 0em 4em 0em 2em;
        }
        .mobile-content{
            padding: 2em 2em 2em 4em;
           
            h1{
                color: #79FF02;
                margin-bottom: 10px;
            }
            .green-button {
                display: inline-block;
                font-size: 12px;
                font-weight: 500;
                color: rgb(0, 0, 0);
                position: relative;
                z-index: 1;
                text-transform: uppercase;
                cursor: pointer;
                margin-top: 30px;
                text-decoration: none;
                padding: 15px 55px;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
                border-radius: 20px;
                background: none;
        
                &:hover{
        
                    top: 0px;
                    left:16px;
                      }
                &:hover:after   {
                    top: 0px;
                    left: -16px;
                   }
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 5px;
                    right: 8px;
                    background-color: #79FF02;
                    border-radius: 20px;
                    z-index: -1;
                    transition: transform 0.15s ease-out 0s;
                }
            
                &::after {
                    content: "";
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(0, 0, 0);
                    border-radius: 20px;
                    border-image: initial;
                    transition: transform 0.15s ease-out 0s;
                }
            }
        }
    }
    .commerce-container{
        grid-column: 2 / span 2;
        justify-self: stretch;
        width: 100%;
        border-radius: 20px;
        background:  #FDF2FC;
        display: flex;
       
        .portfolio-image{
            padding: 0em 4em 0em 2em;
        }
        .commerce-content{
            padding: 2em 2em 2em 4em;
           
            h1{
                color: #FFAFF3;
                margin-bottom: 10px;
            }
            .pink-button {
                display: inline-block;
                font-size: 12px;
                font-weight: 500;
                color: rgb(0, 0, 0);
                position: relative;
                z-index: 1;
                text-transform: uppercase;
                cursor: pointer;
                margin-top: 30px;
                text-decoration: none;
                padding: 15px 55px;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
                border-radius: 20px;
                background: none;
        
                &:hover{
        
                    top: 0px;
                    left:16px;
                      }
                &:hover:after   {
                    top: 0px;
                    left: -16px;
                   }
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 5px;
                    right: 8px;
                    background-color: #FFAFF3;
                    border-radius: 20px;
                    z-index: -1;
                    transition: transform 0.15s ease-out 0s;
                }
            
                &::after {
                    content: "";
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(0, 0, 0);
                    border-radius: 20px;
                    border-image: initial;
                    transition: transform 0.15s ease-out 0s;
                }
            }
        }
    }

}
/* Footer */

#footer {
   
    padding: 6em 0;
    text-align: center;
    align-items: center;
    
    ul{
        list-style-type: none;
       
        
    
    }
    .icons{
            margin: 0 auto 0 auto;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: 20%;
            list-style-type: none;
            font-size: 1.2em;

    }

}

/* Testimonials*/
#testimonials{
    padding: 6em 12em 6em 12em;
    h1{
        font-size: 40px;
        font-weight: bold;
        color: #000;
        text-align: left;
        margin-bottom: 10px;


    }
    .testimonials-content{
        display: flex;
    
        

    

        .testimonial-1{
            margin: 2em;
         
            display: inline-block;
            position: relative;
            padding: 35px 55px;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            border-radius: 20px;
            background: none;
            h2{
                font-weight: normal;
                font-size: 18px;
                color: rgba(74,69,69,1);
            }
            p{
                font-weight: bold;
                font-size: 13px;
                color: rgba(74,69,69,1);
            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 15px;
                right: 18px;
                background-color: #F0E2FF;
                border-radius: 20px;
                z-index: -1;
                transition: transform 0.15s ease-out 0s;
            }
        
            &::after {
                content: "";
                left: 0px;
                top: 0px;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 1;
                border-width: 2px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                border-radius: 20px;
                border-image: initial;
                transition: transform 0.15s ease-out 0s;
            }
        }
        .testimonial-2{
            margin: 2em;
   
            display: inline-block;
            position: relative;
            padding: 35px 55px;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            border-radius: 20px;
            background: none;
            h2{
                font-weight: normal;
                font-size: 18px;
                color: rgba(74,69,69,1);
            }
            p{
                font-weight: bold;
                font-size: 13px;
                color: rgba(74,69,69,1);
            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 15px;
                right: 18px;
                background-color: #E6FFE2;
                border-radius: 20px;
                z-index: -1;
                transition: transform 0.15s ease-out 0s;
            }
        
            &::after {
                content: "";
                left: 0px;
                top: 0px;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 1;
                border-width: 2px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                border-radius: 20px;
                border-image: initial;
                transition: transform 0.15s ease-out 0s;
            }
        }   
    }
}
/* Banner - CTA */
#banner{
    padding: 6em 12em 6em 12em;
    align-items: center;
    .cta{
        display: flex;
        background-color: #FEF4FF;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;

        h1{
            font-size: 42px;
            font-weight: bold;
            color: #000;
            text-align: left;
            margin-bottom: 10px;
            margin-top: 0px;
            text-align: center;
        }
        p{
            font-weight: normal;
            font-size: 16px;
            color: #000;
            margin: 5px;
            text-align: center;
        }
        .cta-content{
            margin: 2em 2em 2em 4em;
        }
        .cta-btn{
            margin-bottom: 4em;
            .pink-button {
                font-size: 12px;
                font-weight: 500;
                color: rgb(0, 0, 0);
                position: relative;
                z-index: 1;
                text-transform: uppercase;
                cursor: pointer;
                margin-top: 50%;
                text-decoration: none;
                padding: 15px 55px;
                border-style: none;
                border-radius: 20px;
                background: none;
        
                &:hover{
        
                    top: 0px;
                    left:16px;
                      }
                &:hover:after   {
                    top: 0px;
                    left: -16px;
                   }
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 5px;
                    right: 8px;
                    background-color: #FFAFF3;
                    border-radius: 20px;
                    z-index: -1;
                    transition: transform 0.15s ease-out 0s;
                }
            
                &::after {
                    content: "";
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(0, 0, 0);
                    border-radius: 20px;
                    border-image: initial;
                    transition: transform 0.15s ease-out 0s;
                }
            }
        }
    }

}
/* Media */

@media(max-width: 480px){
    #page-wrapper {
        background-position: -200px -400px;
        background-size: 800px 800px;
        align-items: center;
    header{
            background-color: white;
            padding-bottom: 1em;
        
    
        nav ul{
            display: block;
            span{
                display: none;
            }
            li{
                padding-bottom: 20px;
            } 
        }

        nav .bottom-menu{

            padding-top: 10em;
    
            ul{
                width: 70%;
        
            }
            
    
        } 
        

    }
        #hero-content{
            padding: 1em;
            margin-top: 10em;
            padding-left: auto;
            padding-bottom: auto;
            .content{
                padding-left: 15px;
                padding-right: 15px;
            }
            h1{
                font-size:56px;
            }
            p.subtitle{
                font-size: 14px;
            }
            p.subtitle1{
                padding: 0px;
            }
            .pinkButton{
                font-size: 12px;
                padding: 10px 45px;
            }

            .goto-next{
                display: none;
            }
        }

        #footer{

           .icons{
               width:40%;
               padding: 0px;
           }
        }
    

        #portfolio{
            margin: 2em;
            padding-top: 40px;
            display: block;

            .icon{
                width: 52px;
        
            }
            .image{
                width: 300px;
            }
        
            h1{
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
                font-size: 42px;
            }
            p{
                font-weight: 500;
                font-size: 14px;
                color: rgba(74,69,69,1);
                margin: 2px;
               
            }
            .design-container{
                flex-direction: column;
               

                .design-content {
                    padding: 2em 2em 2em 2em;
                    .purple-button{
                        font-size: 12px;
                        padding: 10px 45px;
                    }
                }
                .portfolio-image{
                    padding: 2em 2em 2em 2em;
                }
            }
            .section-name{
                display: none;
            }
            .mobile-container{
                flex-direction: column;

                .mobile-content {
                    padding: 2em 2em 2em 2em;
                    .green-button{
                        font-size: 12px;
                        padding: 10px 45px;
                    }
                }
                .portfolio-image{
                    padding: 2em 2em 2em 2em;
                }
            }
            .commerce-container{
                flex-direction: column;
                margin-top: 4em;

                .commerce-content {
                    padding: 2em 2em 2em 2em;
                    .pink-button{
                        font-size: 12px;
                        padding: 10px 45px;
                    }
                }
                .portfolio-image{
                    padding: 2em 2em 2em 2em;
                }
            }

        }
        #testimonials{
            padding: 1em;
            .testimonials-content{
                flex-direction: column;
            }
        }
    }
    
}
